body {
    background-color: #FFFFF2;
  }

h1 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 3.5rem;
    margin: 30px;
    padding-top: 3%;
}

h2  {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 2rem;
    margin-bottom: 3%;
}

p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.3rem;
}

a {
    color: #003078;
}

a:hover {
    outline: 2px solid #000;
    background-color: #ffdd00;
    color: #000;
  }

li {
    padding-bottom: 3%;
  }

.contents {
    width: 50%;
    margin: 50px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.3rem;
    text-align: left;

}

.duties {
    width: 50%;
    margin: 50px;
    text-align: left;
}


.job-time {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
}

footer {
    width: 50%;
    margin: 50px;
    text-align: left;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.footer-link {
    margin: 20px 20px;
}

@media (max-width: 1028px) {
    
    
    .duties {
        width: auto;
        text-align: left;
    }

    p {
        font-size: 1rem;
    }

    li {
        font-size: 1.1rem;
        line-height: 1.5;
        padding-bottom: 4%;
    }

    .footer-link {
        margin: 20px 1px;
    }
}
